/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  display: flex;
}

.red {
  color: #ff5049 !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(back.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
/**********************************************
*** BOTTOM PART
**********************************************/

/***** LISTS *****/
.container {
  width: 1000px;
  margin: 60px auto;
}
